In [61]:
import duckdb

In [62]:
con = duckdb.connect()
con.execute("INSTALL httpfs; LOAD httpfs;")
con.execute("INSTALL ducklake; LOAD ducklake;")

In [63]:
minioAuth = {
    'accessKey': 'minioadmin',
    'secretKey': 'miniopassword',
    'bucket': 'marketing-and-ecommerce',
    'endpoint': 'localhost:9000'
}

con.sql(f"SET s3_endpoint = '{minioAuth['endpoint']}';")
con.sql(f"SET s3_access_key_id = '{minioAuth['accessKey']}';")
con.sql(f"SET s3_secret_access_key = '{minioAuth['secretKey']}';")
con.sql("SET s3_use_ssl = false;") # Wajib untuk http (tanpa ssl)
con.sql("SET s3_url_style = 'path';") # Wajib untuk MinIO

In [64]:
catalogMetadata = '../dataLakehouse/catalog.ducklake'

In [65]:
con.sql(f"ATTACH 'ducklake:{catalogMetadata}' AS dataLakehouse;")
con.sql("USE dataLakehouse;")

BinderException: Binder Error: Failed to attach DuckLake MetaData "__ducklake_metadata_dataLakehouse" at path + "../dataLakehouse/catalog.ducklake"Unique file handle conflict: Cannot attach "__ducklake_metadata_dataLakehouse" - the database file "../dataLakehouse/catalog.ducklake" is already attached by database "__ducklake_metadata_dataLakehouse"

In [ ]:
con.sql("SELECT * FROM ducklake_snapshots('dataLakehouse')")

┌─────────────┬───────────────────────────────┬────────────────┬───────────────────────────────────────────────────────────────┬─────────┬────────────────┬───────────────────┐
│ snapshot_id │         snapshot_time         │ schema_version │                            changes                            │ author  │ commit_message │ commit_extra_info │
│    int64    │   timestamp with time zone    │     int64      │                    map(varchar, varchar[])                    │ varchar │    varchar     │      varchar      │
├─────────────┼───────────────────────────────┼────────────────┼───────────────────────────────────────────────────────────────┼─────────┼────────────────┼───────────────────┤
│           0 │ 2025-12-11 16:54:27.968607+07 │              0 │ {schemas_created=[main]}                                      │ NULL    │ NULL           │ NULL              │
│           1 │ 2025-12-11 16:54:28.080394+07 │              1 │ {schemas_created=[raw]}                                       │ NULL    │ NULL           │ NULL              │
│           2 │ 2025-12-11 16:54:28.092267+07 │              2 │ {tables_created=[raw.customers], tables_inserted_into=[2]}    │ NULL    │ NULL           │ NULL              │
│           3 │ 2025-12-11 16:54:28.611327+07 │              3 │ {tables_created=[raw.campaigns], tables_inserted_into=[3]}    │ NULL    │ NULL           │ NULL              │
│           4 │ 2025-12-11 16:54:28.763955+07 │              4 │ {tables_created=[raw.events], tables_inserted_into=[4]}       │ NULL    │ NULL           │ NULL              │
│           5 │ 2025-12-11 16:54:35.103132+07 │              5 │ {tables_created=[raw.products], tables_inserted_into=[5]}     │ NULL    │ NULL           │ NULL              │
│           6 │ 2025-12-11 16:54:35.836956+07 │              6 │ {tables_created=[raw.transactions], tables_inserted_into=[6]} │ NULL    │ NULL           │ NULL              │
│           7 │ 2025-12-11 22:07:53.34315+07  │              7 │ {schemas_created=[sqlmesh]}                                   │ NULL    │ NULL           │ NULL              │
│           8 │ 2025-12-11 22:07:53.436145+07 │              8 │ {tables_created=[sqlmesh._versions]}                          │ NULL    │ NULL           │ NULL              │
│           9 │ 2025-12-11 22:07:53.529289+07 │              9 │ {tables_created=[sqlmesh._snapshots]}                         │ NULL    │ NULL           │ NULL              │
│           · │               ·               │              · │           ·                                                   │  ·      │  ·             │  ·                │
│           · │               ·               │              · │           ·                                                   │  ·      │  ·             │  ·                │
│           · │               ·               │              · │           ·                                                   │  ·      │  ·             │  ·                │
│         226 │ 2025-12-12 10:05:41.972985+07 │            226 │ {tables_altered=[75]}                                         │ NULL    │ NULL           │ NULL              │
│         227 │ 2025-12-12 10:05:42.021295+07 │            227 │ {tables_altered=[75]}                                         │ NULL    │ NULL           │ NULL              │
│         228 │ 2025-12-12 10:05:42.076025+07 │            228 │ {tables_altered=[75]}                                         │ NULL    │ NULL           │ NULL              │
│         229 │ 2025-12-12 10:05:42.183081+07 │            229 │ {tables_altered=[77]}                                         │ NULL    │ NULL           │ NULL              │
│         230 │ 2025-12-12 10:05:44.608258+07 │            230 │ {tables_dropped=[75]}                                         │ NULL    │ NULL           │ NULL              │
│         231 │ 2025-12-12 10:05:44.63165+07  │            231 │ {tables_dropped=[76]}                                         │ NULL    │ NULL           │ NULL              │
│         232 │ 2025-12-12 10:05:44.705242+07 │            232 │ {tables_dropped=[74]}                                         │ NULL    │ NULL           │ NULL              │
│         233 │ 2025-12-12 10:05:44.777787+07 │            233 │ {tables_dropped=[77]}                                         │ NULL    │ NULL           │ NULL              │
│         234 │ 2025-12-12 10:05:44.854294+07 │            234 │ {tables_dropped=[78]}                                         │ NULL    │ NULL           │ NULL              │
│         235 │ 2025-12-12 10:05:44.934233+07 │            235 │ {tables_dropped=[79]}                                         │ NULL    │ NULL           │ NULL              │
├─────────────┴───────────────────────────────┴────────────────┴───────────────────────────────────────────────────────────────┴─────────┴────────────────┴───────────────────┤
│ 236 rows (20 shown)                                                                                                                                               7 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("SELECT * FROM information_schema.schemata;")

┌───────────────────────────────────┬──────────────────────────┬──────────────┬───────────────────────────────┬──────────────────────────────┬────────────────────────────┬──────────┐
│           catalog_name            │       schema_name        │ schema_owner │ default_character_set_catalog │ default_character_set_schema │ default_character_set_name │ sql_path │
│              varchar              │         varchar          │   varchar    │            varchar            │           varchar            │          varchar           │ varchar  │
├───────────────────────────────────┼──────────────────────────┼──────────────┼───────────────────────────────┼──────────────────────────────┼────────────────────────────┼──────────┤
│ __ducklake_metadata_dataLakehouse │ main                     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ __ducklake_metadata_dataLakehouse │ sqlmesh                  │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ __ducklake_metadata_dataLakehouse │ sqlmesh__sqlmesh_example │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ __ducklake_metadata_dataLakehouse │ sqlmesh_example          │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ __ducklake_metadata_dataLakehouse │ sqlmesh_example__dev     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ dataLakehouse                     │ main                     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ dataLakehouse                     │ raw                      │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ dataLakehouse                     │ sqlmesh                  │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ memory                            │ main                     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ system                            │ information_schema       │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ system                            │ main                     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ system                            │ pg_catalog               │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
│ temp                              │ main                     │ duckdb       │ NULL                          │ NULL                         │ NULL                       │ NULL     │
├───────────────────────────────────┴──────────────────────────┴──────────────┴───────────────────────────────┴──────────────────────────────┴────────────────────────────┴──────────┤
│ 13 rows                                                                                                                                                                  7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("SHOW TABLES FROM dataLakehouse;")

┌──────────────┐
│     name     │
│   varchar    │
├──────────────┤
│ campaigns    │
│ customers    │
│ events       │
│ products     │
│ transactions │
└──────────────┘

In [ ]:
con.sql("SHOW TABLES FROM __ducklake_metadata_dataLakehouse;")

┌────────────────────────────────────────────────┐
│                      name                      │
│                    varchar                     │
├────────────────────────────────────────────────┤
│ _auto_restatements                             │
│ _environment_statements                        │
│ _environments                                  │
│ _intervals                                     │
│ _snapshots                                     │
│ _versions                                      │
│ ducklake_column                                │
│ ducklake_column_mapping                        │
│ ducklake_column_tag                            │
│ ducklake_data_file                             │
│       ·                                        │
│       ·                                        │
│       ·                                        │
│ ducklake_view                                  │
│ full_model                                     │
│ full_model                                     │
│ incremental_model                              │
│ incremental_model                              │
│ seed_model                                     │
│ seed_model                                     │
│ sqlmesh_example__full_model__635791289         │
│ sqlmesh_example__incremental_model__3572673861 │
│ sqlmesh_example__seed_model__2437004170        │
├────────────────────────────────────────────────┤
│               37 rows (20 shown)               │
└────────────────────────────────────────────────┘

In [66]:
con.sql("SELECT * FROM __ducklake_metadata_dataLakehouse.sqlmesh__sqlmesh_example.sqlmesh_example__incremental_model__3572673861;")

BinderException: Binder Error: Catalog "__ducklake_metadata_dataLakehouse" does not exist!

In [ ]:
con.sql("SELECT * FROM raw.products;")

┌────────────┬─────────────┬───────────┬────────────┬─────────────┬────────────┐
│ product_id │  category   │   brand   │ base_price │ launch_date │ is_premium │
│   int64    │   varchar   │  varchar  │   double   │    date     │   int64    │
├────────────┼─────────────┼───────────┼────────────┼─────────────┼────────────┤
│          1 │ Grocery     │ Brand_58  │      14.19 │ 2021-08-02  │          0 │
│          2 │ Fashion     │ Brand_1   │       25.8 │ 2021-09-14  │          0 │
│          3 │ Electronics │ Brand_70  │     165.46 │ 2021-01-18  │          1 │
│          4 │ Fashion     │ Brand_56  │      75.45 │ 2023-03-03  │          1 │
│          5 │ Sports      │ Brand_1   │       72.5 │ 2022-04-19  │          1 │
│          6 │ Fashion     │ Brand_39  │      57.08 │ 2023-09-16  │          0 │
│          7 │ Beauty      │ Brand_42  │      27.23 │ 2023-05-17  │          0 │
│          8 │ Home        │ Brand_41  │     121.82 │ 2021-02-16  │          1 │
│          9 │ Home        │ Brand_73  │      25.37 │ 2023-03-11  │          0 │
│         10 │ Home        │ Brand_61  │      84.11 │ 2022-08-21  │          1 │
│          · │  ·          │    ·      │        ·   │     ·       │          · │
│          · │  ·          │    ·      │        ·   │     ·       │          · │
│          · │  ·          │    ·      │        ·   │     ·       │          · │
│       1991 │ Grocery     │ Brand_12  │      33.14 │ 2023-05-25  │          0 │
│       1992 │ Home        │ Brand_14  │      29.21 │ 2022-08-25  │          0 │
│       1993 │ Home        │ Brand_56  │      46.42 │ 2022-09-06  │          0 │
│       1994 │ Sports      │ Brand_100 │      69.02 │ 2022-06-19  │          1 │
│       1995 │ Fashion     │ Brand_3   │      70.87 │ 2022-06-15  │          1 │
│       1996 │ Home        │ Brand_39  │     113.75 │ 2022-07-07  │          1 │
│       1997 │ Electronics │ Brand_78  │     141.47 │ 2022-06-19  │          1 │
│       1998 │ Electronics │ Brand_34  │     145.15 │ 2021-10-21  │          1 │
│       1999 │ Fashion     │ Brand_94  │      22.88 │ 2023-08-11  │          0 │
│       2000 │ Electronics │ Brand_72  │     117.77 │ 2021-01-15  │          1 │
├────────────┴─────────────┴───────────┴────────────┴─────────────┴────────────┤
│ 2000 rows (20 shown)                                               6 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [ ]:
con.sql("SELECT * FROM raw.transactions;")

┌────────────────┬─────────────────────┬─────────────┬────────────┬──────────┬──────────────────┬───────────────┬─────────────┬─────────────┐
│ transaction_id │      timestamp      │ customer_id │ product_id │ quantity │ discount_applied │ gross_revenue │ campaign_id │ refund_flag │
│     int64      │      timestamp      │    int64    │   double   │  int64   │      double      │    double     │    int64    │    int64    │
├────────────────┼─────────────────────┼─────────────┼────────────┼──────────┼──────────────────┼───────────────┼─────────────┼─────────────┤
│              1 │ 2021-12-27 08:25:15 │       59540 │     1630.0 │        3 │              0.0 │         43.74 │           0 │           0 │
│              2 │ 2023-06-06 21:14:26 │       54871 │     1901.0 │        3 │              0.0 │        174.78 │          21 │           0 │
│              3 │ 2023-08-31 05:29:54 │       51818 │     1884.0 │        1 │              0.0 │         40.61 │          37 │           0 │
│              4 │ 2022-06-26 20:33:46 │       18164 │     1114.0 │        2 │             0.15 │         68.76 │          13 │           0 │
│              5 │ 2023-07-26 18:12:35 │       86915 │      408.0 │        1 │              0.0 │         14.64 │           4 │           0 │
│              6 │ 2023-01-19 14:05:58 │       10749 │     1635.0 │        2 │              0.0 │        169.74 │          13 │           0 │
│              7 │ 2023-07-28 09:37:53 │       25984 │      244.0 │        2 │              0.0 │         42.48 │          21 │           0 │
│              8 │ 2022-07-10 07:29:15 │       85140 │     1296.0 │        1 │              0.0 │         36.95 │           2 │           0 │
│              9 │ 2023-11-02 05:22:44 │       52930 │     1512.0 │        1 │              0.0 │        125.59 │          23 │           0 │
│             10 │ 2021-01-25 06:28:42 │       69172 │     1433.0 │        1 │             0.15 │         48.72 │          44 │           0 │
│              · │          ·          │         ·   │        ·   │        · │               ·  │           ·   │           · │           · │
│              · │          ·          │         ·   │        ·   │        · │               ·  │           ·   │           · │           · │
│              · │          ·          │         ·   │        ·   │        · │               ·  │           ·   │           · │           · │
│           9991 │ 2021-08-24 11:14:19 │       21907 │      427.0 │        1 │             0.05 │         10.74 │           0 │           0 │
│           9992 │ 2023-08-28 22:18:06 │       73411 │      830.0 │        1 │              0.1 │        218.61 │          24 │           0 │
│           9993 │ 2023-03-12 07:35:24 │       77884 │      499.0 │        2 │             0.15 │        152.47 │          17 │           0 │
│           9994 │ 2023-04-11 14:32:12 │       57010 │     1135.0 │        1 │              0.0 │         88.24 │          36 │           0 │
│           9995 │ 2023-10-14 22:01:25 │       65531 │       NULL │        1 │              0.0 │          NULL │          10 │           0 │
│           9996 │ 2023-06-16 11:03:30 │       86972 │      290.0 │        1 │             0.05 │        104.47 │           4 │           0 │
│           9997 │ 2021-12-07 16:31:25 │       47384 │     1400.0 │        2 │             0.15 │         83.67 │           9 │           0 │
│           9998 │ 2022-02-06 18:23:46 │       95620 │      648.0 │        4 │              0.0 │        449.64 │          39 │           0 │
│           9999 │ 2021-06-24 18:15:59 │       57148 │     1198.0 │        1 │             0.15 │         78.23 │          30 │           0 │
│          10000 │ 2022-08-31 20:09:59 │       42408 │      673.0 │        1 │              0.0 │        155.04 │          18 │           0 │
├────────────────┴─────────────────────┴─────────────┴────────────┴──────────┴──────────────────┴───────────────┴─────────────┴─────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                   9 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [67]:
con.close()